* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container{
  position: relative;
  display: flex;
}

.slides {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 10px auto;
  &__item{
    position: absolute;
    width: 800px;
    height: 400px;
    z-index: -1;

    &:nth-of-type(1){
      background: url(../img/1.jpg);
      
    }
    &:nth-of-type(2){
      background: url(../img/2.jpg);
      
    }
    &:nth-of-type(3){
      background: url(../img/3.jpg);
      
    }
    &:nth-of-type(4){
      background: url(../img/4.jpg);
      
    }
    &:nth-of-type(5){
      background: url(../img/5.jpg);
      
    }
  }
}
.active {
  z-index: 5;
}

.indicators {
  display: flex;
  justify-content: center;
  .active{
    background-color: #0077ff;
  }
&__item{
    margin-top: 10px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: #cccccc;
    border-radius : 10px;
    
  }
}


.controls{
  display: flex;
  justify-content: center;
  
  &__item{
    display: flex;
    width: 60px;
    height: 40px;
    background: #ffa500;
    border: 1px solid #cccccc;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 10px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    &:hover{
      cursor: pointer;
    }
  }

}











































































// .slides {
//   position: relative;
//   height: 600px;
//   padding: 0px;
//   margin-top: 50px;
//   list-style-type: none;
//   .active {
//     opacity: 1;
//     z-index: 2;
//   }
//   &__item {
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     z-index: 1;
//     transition: opacity 1s;
//       &:nth-of-type(1) {
//       background: center / contain no-repeat url("../img/1.jpg");
//     }
//       &:nth-of-type(2) {
//       background: center / contain no-repeat url("../img/2.jpg");
//     }
//       &:nth-of-type(3) {
//       background: center / contain no-repeat url("../img/3.jpg");
//     }
//       &:nth-of-type(4) {
//       background: center / contain no-repeat url("../img/4.jpg");
//     }
//       &:nth-of-type(5) {
//       background: center / contain no-repeat url("../img/5.jpg");
//     }
//   }
// }

// .indicators{
//   position: relative;
//   display: flex;
//   justify-content: center;
//   top: -40px;
//   .active {
//     background-color:#ff0000;
//   }
//   &__item{
//     width: 40px;
//     height: 7px;
//     border: 1px solid #cccccc;
//     background-color: #0077ff;
//     margin-right: 4px;
//     z-index: 2;
//   }
// }

// .controls{
//   position: relative;
//   display: none;
//   justify-content: center;
//   align-items: center;
  
//   &__item{
//     background-color: #cccccc;
//     padding: 5px 10px;
//     margin-right: 15px;
//     width: auto;
//     font-size: 20px;
//     border: 1px solid cccccc;
//     border-radius: 10px;
//     cursor: pointer;
//   }
// }



